.background {
    -fx-background-color: rgb(255,255,255);
}

.tab .tab-label {
      -fx-background-color: transparent;
      -fx-alignment: CENTER;
      -fx-font: 16px "Bell MT";
      -fx-text-fill: rgb(0,0,0);
}

.label-instructionLevel {
    -fx-font: 20pt "KaiTi";
    -fx-text-fill: rgb(200,150,0);
}

.label-instructionHeader {
    -fx-font: bold 60pt "KaiTi";
    -fx-text-fill: rgb(0,0,0);
}

.label-instructionBody-zh {
    -fx-font: bold 40pt "KaiTi";
    -fx-text-fill: rgb(0,0,160);
}

.label-instructionBody-en {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(0,0,160);
}

.label-instructionTime-zh {
    -fx-font: bold 30pt "KaiTi";
    -fx-text-fill: rgb(255,0,0);
}

.label-instructionTime-en {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(255,0,0);
}

.label-exampleHeader {
    -fx-font: bold 60pt "Bell MT";
    -fx-text-fill: rgb(0,0,0);
}

.label-exampleBody {
    -fx-font: bold 40pt "KaiTi";
    -fx-text-fill: rgb(0,0,160);
}

.label-exampleWarning {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(255,0,0);
}

.label-questionsTimer {
    -fx-font: bold 60pt "KaiTi";
    -fx-text-fill: rgb(0,255,0);
}

.label-questionsQuestion {
    -fx-font: bold 40pt "KaiTi";
    -fx-text-fill: rgb(0,255,0);
}

.label-questionsText {
    -fx-font: bold 40pt "KaiTi";
    -fx-text-fill: rgb(0,255,0);
}

.label-scoreWrongText {
    -fx-font: bold 30pt "KaiTi";
    -fx-text-fill: rgb(0,255,255);
}

.label-scoreCorrectedText {
    -fx-font: bold 30pt "KaiTi";
    -fx-text-fill: rgb(100,255,0);
}

.label-scoreAnswer {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(0,255,0);
}

.label-scoreQuestion {
    -fx-font: bold 30pt "KaiTi";
    -fx-text-fill: rgb(0,255,0);
}

.text-field-scorePoint {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(0,255,0);
}

.label-scoreTotalLabel {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(0,255,0);
}

.label-scoreTotalPoint{
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(0,255,0);
}