#cnFont-title {
    -fx-font: bold 70pt "KaiTi";
}

#cnFont-header {
    -fx-font: bold 50pt "KaiTi";
}

#font-button {
    -fx-font: bold 25pt "KaiTi";
}

#enFont-title {
    -fx-font: bold 30pt "Bell MT";
}

#enFont-header {
    -fx-font: bold 40pt "Bell MT";
}

#font-tableHeader {
    -fx-font: bold 11pt "KaiTi";
}