.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-font: 16px "Bell MT";
}

#cnFont-header {
    -fx-font: bold 50pt "KaiTi";
}

#enFont-exampleHeader {
    -fx-font: bold 50pt "Bell MT";
}

#cnFont-button {
    -fx-font: bold 40pt "KaiTi";
}

#enFont-button {
    -fx-font: bold 30pt "Bell MT";
}

#cnFont-text {
    -fx-font: 35pt "KaiTi";
}

#enFont-text {
    -fx-font: 25pt "Bell MT";
}

#cnFont-timeLimit {
    -fx-font: bold 40pt "KaiTi";
    -fx-text-fill: rgb(255,0,0);
}

#enFont-timeLimit {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(255,0,0);
}

#cnFont-example {
    -fx-font: bold 40pt "KaiTi";
}

#enFont-example{
    -fx-font: bold 40pt "Bell MT";
}

#enFont-exampleWarning {
    -fx-font: bold 30pt "Bell MT";
    -fx-text-fill: rgb(255,0,0);
}